{% extends 'base.html.twig' %}

{% block title %}Log in ! - FonyShop {% endblock %}

{% block content %}
    <div class="block-small">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% for message in app.flashes('notice') %}
                <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
        
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail">Your Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Your Email" required autofocus>
            <label for="inputPassword">Your Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Your Password" required>
        
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
        
            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html
        
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
        
            <button class="btn btn-info btn-lg btn-block mt-3" type="submit">
                Sign in
            </button>
            <hr>
            <p class="text-center"><a href="{{ path('reset_password') }}">Forgot your password</a> ?</p>
            <p class="text-center">Or <a href="{{ path('register') }}">Sign up</a> ?</p>
        </form>
    </div>
{% endblock %}
