{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-5">
            <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid" />
        </div>
        <div class="col-md-7 my-auto">
            <h3>{{ product.name }}</h3>
            <p>{{ product.subtitle }}</p>
            <span class="product-page-price">{{ (product.price / 100)|number_format(2, ',', '.') }} €</span>
            <br>
            <p>{{ product.description }}</p>
            <a href="{{ path('add_to_cart', {'id': product.id}) }}" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
    <hr>
    <h2>Our best product</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui, ut.</p>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div><!-- /.row -->

{% endblock %}
